.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #A9907E;
}

.header{
  color: #F3DEBA;
}
